@font-face {
    font-family: 'Sup';
    src: 
        local('supermilk.ttf') 
        url('supermilk.ttf') format("truetype"),
}

html {
    height: 100%;
    zoom: 70%;
}

body {
    font-family: 'Super Milk';
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom,#e66465, #9198e5);
    background-image: -moz-linear-gradient(to bottom,#e66465, #9198e5);
    height: 5000px;
}

p{
    font-family : 'Super Milk';
}
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: white;
    opacity:80%;
}

.header {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    background-color: lightsalmon;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cv, .logo, .link {
    font-size: 50px;
    text-align: center;
    width: 33%;
    background-color: darksalmon;
    border-radius: 25px;
}
#headertext {
    padding : 20px;
}

img {
    margin: 20px;
    border-radius: 4px;
    width: 400px;
}

#troisimeannee, #deuxiemeannee, #premiereannee, #avant {
    text-align: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    color: wheat;
    border-radius: 25px;
    background-color: white;
    padding: 20px;
    width: 95%;
}

#troisimeannee{
    height:1450px;
}

#deuxiemeannee{
    height:1450px;
}

#premiereannee, #avant {
    height: 600px;
}

h1 {
    font-size: 80px;
}

.yearbox{
    margin-top:auto;
    background-color: grey;
    border-radius:25px;
    height: 120px;
    margin-bottom:20px;
}

#yeartext {
    font-size: 100px;
    text-align : left;
    margin-left : 20px;
    margin-top : 20px;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;  
}

.projectbox {
    background-color: lightgrey;
    border-radius: 25px;
    height: 400px;
    width: 32%;
    font-size: 30px;
    margin-top: 20px;
    margin-right: 10px;
    margin-left:10px;
}

#miniature {
    height: 324px;
    width: 576px;
    margin-bottom:0;
}

#projectlink{
    margin-top:0;
}

.footer {
    background-color: lightsalmon;
    margin-top: 40px;
    height: 250px;
    bottom: 0;
}

.footerlogo {
    text-align: center;
    width: 100%;
    margin-bottom: 0;
}

#versionnumber {
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 0;
}