@font-face {
    font-family: 'Sup';
    src: local('supermilk.otf') 
    url('supermilk.otf') format('opentype')
    url('supermilk.ttf') format('truetype')
    url('supermilk.woff') format('woff')
    url('supermilk.svg#svgSuperMilk') format('svg');
}

html {
    height: 100%;
    zoom:100%;
}

body {
    font-family: 'Super Milk';
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("PICTURES/bg.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
    height: 5000px;
}

.header {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 5%;
    overflow: hidden;
}

#headertext {
    padding: 20px;
}

#weblink, #logoimage{
    width:50%;
    margin-top:1vw;
    margin-left:25%;
    opacity:0%;
}

.logo {
    font-size: 50px;
    text-align: center;
    width: 32%;
    border-radius: 25px;
    height: 100%;
    background-color: rgba(220, 185, 247, 0.8);
    background-image: url("PICTURES/title.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
}

.cv, .mail, .sketch, .itch {
    width: 16.5%;
    border-radius: 25px;
    height: 100%;
    aspect-ratio: 1/4;
}
.cv {
    background-color: rgba(111, 143, 100, 0.8);
    background-image: url("PICTURES/pfp.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
}

.mail {
    background-color: rgba(255, 176, 45, 0.8);
    background-image: url("PICTURES/mail.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
}

.sketch {
    background-color:orangered;
    background-image: url("PICTURES/itchio.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
}

.itch {
    background-color: deepskyblue;
    background-image: url("PICTURES/sketchfab.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
}

.link {
    letter-spacing: -0.31em;
}

.programmation, .gamedesign, .graphisme, .animation, .dessin, .modelisation {
    text-align: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    color: black;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.23);
    padding: 20px;
    width: 95%;
    height:auto;
}

#contimage{
    margin-left:90%;
    width:5%;
    margin-top:10px;
}

#programmationtitle, #gamedesigntitle, #graphismetitle, #animation, #dessintitle, #modelisationtitle {
    margin-top: auto;
    border-radius: 25px;
    height: 120px;
    margin-bottom: 20px;
}

#yeartext {
    font-size: 100px;
    text-align : left;
    margin-left : 20px;
    margin-top : 20px;
    width:80%;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.projectbox {
    background-color: lightgrey;
    border-radius: 25px;
    height: 400px;
    width: 32%;
    font-size: 30px;
    margin-top: 20px;
    margin-right: 10px;
    margin-left:10px;
    overflow:hidden;
}

#miniature {
    height: 324px;
    width: 576px;
    margin-top:2%;
    margin-bottom:0;
    aspect-ratio:16/9;
}

#projectlink{
    margin-top:0;
}

.footer {
    background-color: rgba(255, 255, 255, 0.3);
    margin-top: 40px;
    padding-top:0.5%;
    padding-bottom:2%;
    padding-left:2%;
    padding-right:2%;
}

.footerlogo {
    text-align: center;
    width: 100%;
}

#returnbutton {
    font-size:50px;
}

#versionnumber {
    font-size: 40px;
}