@font-face {
    font-family: 'Sup';
    src: local('supermilk.ttf') url('supermilk.ttf') format("truetype"),
}

html {
    height: 100%;
    zoom: 70%;
}

body {
    font-family: 'Super Milk';
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom,#e66465, #9198e5);
    background-image: -moz-linear-gradient(to bottom,#e66465, #9198e5);
    height: 1000px;
}

.header {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    background-color: lightsalmon;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cv, .logo, .link {
    font-size: 50px;
    text-align: center;
    width: 33%;
    background-color: darksalmon;
    border-radius: 25px;
}

#headertext {
    padding: 20px;
}

img {
    margin: 20px;
    width: 400px;
}

.Content{
    background-color:white;
    border-radius:25px;
    margin:10px;
    padding:20px;
}

.ProjectTitle {
    height: 100px;
    width: 100%;
    margin-top:20px;
    margin-bottom:20px;
    margin-right: 40px;
    border-radius: 25px;
    background-color: grey;
    font-size: 36px;
    text-align:center;
}

#Title{
    margin:10px;
    text-align:center;
}

.ProjectBody {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left:20px;
    margin-right:20px;
}

#ProjectImage, #ProjectScript {
    font-size: 50px;
    text-align: center;
    border-radius: 25px;
    margin-left:10px;
}

#ProjectImage {
    width: 33%;
}

#Photo {
    width: 650px;
}

#ProjectScript {
    width: 66%;
    background-color: lightsalmon;
}

#ProjectText {
    font-size: 30px;
    text-align: justify;
    margin: 20px;
}

.footer {
    background-color: lightsalmon;
    margin-top: 40px;
    height: 250px;
    bottom: 0;
}

.footerlogo {
    text-align: center;
    width: 100%;
    margin-bottom: 0;
}

#versionnumber {
    font-size: 25px;
    margin-top: 0;
    margin-bottom:0;
}