html {
    height: 100%;
}

body {
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom,#e66465, #9198e5);
    background-image: -moz-linear-gradient(to bottom,#e66465, #9198e5);
    height: 1000px;
}

.header {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    background-color: lightsalmon;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cv, .logo, .link {
    font-size: 50px;
    text-align: center;
    width: 33%;
    background-color: darksalmon;
    border-radius: 25px;
}

#headertext {
    padding: 20px;
}

img {
    margin: 20px;
    border-radius: 4px;
    width: 400px;
}

.footer {
    background-color: lightsalmon;
    margin-top: 40px;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
    position:fixed;
    bottom:0;
    left:0;
    right:0;
}

.footerlogo {
    text-align: center;
    width: 100%;
}

#versionnumber {
    text-align: left;
    font-size: 50px;
    border-radiu width:33%;
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 10px;
}